/* importo bootstrap dalla cartella node_modules usando l'alias settato in vite.config.js */
@import "~bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: #222;
    color: white;
}

// header,
// footer {
//     width: 100%;
//     background: #EEE;
//     color: black;
// }

header img.logo {
    height: 2rem;
}


//  HEADER SECTION STYLE //


header {
    height: 100px;
    font-family: 'Encode Sans Condensed', sans-serif;

    div, ul {
        height: 100%;
      }

    i {
      color: #0C7CEC;
    }
    
    #header-logo {
      height: 65%;
    }

    ul {
      list-style-type: none;
    }
  
    li {
      margin: 0 1rem;
      font-weight: 600;
      font-size: .875rem;
      height: 100%;
      
      div {
        background-color: #0C7CEC;
        height: .5rem;
        display: none;
      }

      &:hover div {
        display: block;
      }
    }

    a {
      text-decoration: none;
      height: 100%;
      color: rgb(70, 70, 70);
      margin-top: 2.5rem;
  
      &:hover {
      color: #0C7CEC;
      }

    }

  }

  // FOOTER SECTION //  
  footer{
    #footer-top-section {
        background: no-repeat url(../assets/img/footer-bg.jpg);
        background-size: cover;
    
        h5 {
            font-weight: 700 !important;
            font-family: 'Encode Sans Condensed', sans-serif;
        }
    
        ul {
            list-style: none;
        }
    
        li {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: rgba(211, 211, 211, 0.733);
        }
    
        .container > .row {
            background-image: url(../assets/img/dc-logo-bg.png);
            background-repeat: no-repeat;
            background-position: right;
        }
    
        a {
            text-decoration: none !important;
            font-size: 14px;
    
            &:hover {
                text-decoration: underline grey !important;
            }
        }
    }
    
    #footer-bottom-section {
        background-color: #303030;
        min-height: 6rem;
        font-family: 'Encode Sans Condensed', sans-serif;
    
        h5:hover {
            border: 2px solid #0C7CEC;
        }
    
        a {
            text-decoration: none;
        }
    
        #social-media h5 {
            color: #0C7CEC;
        }
    
    }
  }